#block-body{
    width: 1024px;
    height: auto;
    border: 1px solid black;
    margin: 10px auto;
}
#block-header{
    width: 1024px;
    height: 200px;
    border: 1px solid black;
    background-image: url("https://demonbek.github.io/header.jpg");
}
#block-right{
    width: 280px;
    height: auto;
    border: 1px solid black;
    float: right;
}
#block-content{
    width: 740px;
    height: 620px;
    border: 1px solid black;
    background-image: url("https://demonbek.github.io/home.jpg");
}
#block-footer{
    width: 1024px;
    height: 170px;
    background-image: url("https://demonbek.github.io/images/footer.jpg") ;
}
